/*--Alycia Saris, None More Black Website CSS--*/

	
body {background-image: url(stage.gif);/*--This photo was taken with my 35ml camera and altered to make a unique background.--*/
	background-color: #000000;
  font-family: Helvetica, Arial, sans-serif;
}
#wrapper { background-color: #000000;/*--Of course its black--*/
			width: 1000px;
			margin-left: auto;
			margin-right: auto;} 
h1 {background-color: #000000;
background-image: url(banner1.gif);/*--Another 35ml photo taken by me.--*/
		background-position: center;
		background-repeat: no-repeat;
		height: 100px;
		width: 1000px;
		margin: 0px;
	text-indent: 100%;
	white-space: nowrap;
    overflow: hidden;	
	box-shadow: 0 0 50px #00ffff;/*--I like this glow to break up the black--*/
	border-radius: 15px;}/*--This mild touch gave the site a polished look--*/
#menu {	width: 1000px;/*--I chose to format the navigation this way because I like it.--*/
	height: 50px;/*--I had to find the instructions online, well worth it--*/
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif; 
	font-weight: bold;
	text-align: center;
	text-shadow: 3px 2px 3px #ff00ff;
	background-color: #000000;
	border-radius: 15px;
	box-shadow:0 0 25px #ff0000;}
#menu ul { height: auto;
		padding: 8px 2px;
		margin: 0px;}
#menu li { display: inline;
		padding: 20px;}
#menu a { text-decoration: none;
		color: #00dddd;
		padding: 8px 8px 8px 8px;}
#menu a:hover{ color: #dd0000;/*--end navigation--*/
		 }
#text { text-align: center;/*--I used this id throughout the site so that my text would appear on the page like a concert t shirt--*/
		color:#ffffff;/*--shows up on black--*/
		font-size: 15px;
	font-family: Helvetica, Arial, sans-serif; 
	font-weight: normal;
	width: 800px;/*--i played with the margins and spacing quite a bit to have a more polished look--*/
	margin:auto;
	white-space: pre-wrap; }
#gallery { text-align: center;
		margin: auto; }	/*--I realizied i goofed when I changed the text margins, formatting change for swag page.--*/
h2 { text-align: center;/*--I like the teal and aqua shadow--*/
	text-shadow: 3px 2px 3px #00ffff;
	font-family: Helvetica, Arial, sans-serif;
	color: #007777;
	font-weight: bold;
	font-size: 50px;}
#figure { width: 250px;
		margin: auto;
		text-align: center;}/*--used to format my front page picture--*/
table { margin: auto;
		color: #ffffff;
		border: 5px solid #aa0000;
		width: 750px;
		height: 800px;
		border-spacing: 0;
		table-layout: fixed; }/*--stopped my table from auto-sizing around text--*//*--used for calendar, venue page and music page--*/
td { font-size: 10px;}/*--needed the data font a little smaller than the rest of the table--*/
td, th { border: 1px solid #aa0000;
		padding: 0.5em;
		color: #ffffff;
		font-family:Helvetica, Arial, sans-serif;
		font-size: 12px;
		vertical-align: super; }/*--This kept the dates in the upper corner of the cell--*/
h3 { text-align: center;
	text-shadow: 3px 2px 3px #00ffff;
	font-family: Helvetica, Arial, sans-serif;
	color: #007777;
	font-weight: bold;
	font-size: 25px;}/*--i like the way this looks--*/
h4 {text-align: center;
	text-shadow: 3px 2px 3px #00ffff;
	font-family: Helvetica, Arial, sans-serif;
	color: #ffffff;
	font-weight: normal;
	font-size: 15px;
	 }/*--basically used on the featured page to keep ththe page vibrant without alot of graphics--*/
.floatleft {	float: left;
		padding: 10px 10px 10px 200px;
		margin: auto;}/*--needed for featured page--*/
.details { overflow: auto;}/*--also needed to properly execute the float--*/

.clearright { clear: right; }/*--needed for featured page--*/
ul { list-style-type: none;
	margin: auto;}/*--this is were i formatted the swag page--*/
li { display: inline-block;
	padding-bottom: 10px;
	margin: 10px;
	text-align: center;	}/*--formatted pictures on swag page--*/
figure { width: 300px;}
figcaption { text-align: center;
			color: #ffffff;}/*--end swag formatting--*/

form { 	background-color:#000000;
		color: #ffffff;
		text-align: center;
	font-family: Helvetica, sans-serif;
    padding: 10px; 
	min-width: 400px;}/*--Use on featured page to promote local bands--*/
	label { float: left;
	width: 150px; 
    clear: left;
	text-align: right; 
	padding-right: 10px;
	margin-top: 10px; }
input, textarea { margin-top: 10px; 
                  display: block; } 
#mySubmit { margin-left: 160px; }

footer {margin: auto;
	width: 500px;
	height: 50px;
	color: #00bbbb;
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif; 
	font-weight: normal;
	text-align: center;
	text-shadow: 3px 2px 3px #ff00ff;
	background-color: #000000;
	border-radius: 15px;
	box-shadow:0 0 20px #ff0000;}/*--formatting the footer similarly to the navigation gave site a completed look--*/ 
	
